* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    background-color: #191718;
}

#sidebar ul {
    padding-left: 0;
}
    
#sidebar li {
    padding: 8px;
    display: block;
    border: 0.5px solid #5C5C5C;
    font-size: 24px;
    display: block;
}

#sidebar li:hover {
    background-color: gray;
}
#sidebar  li a {
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    margin-left: 7px;
}
    
.body-text {
    margin-left: 150px;
    font-size: 18px;
}

#top-image {
    align-items: center;
    height: 122px;
    width: 100%;
    left: 879px;
    top: 958px;
    border-radius: 0px;
    margin: 34px 0;
}

#top-image img {
    margin-left: 45%;
    position: absolute;
    width: 310px;
    height: 122px;
}

#content .section-heading {
    color: #000;
    text-align: center;
    text-size-adjust: 15px;
    opacity: 0.6;
    
}
#content {
    background-color:#EFEFEF;
    margin-left: 250px;
    margin-right: 100px;
}


#content .about-text {
    text-align: center;
}


.columns {
    margin-top: 35px;
    margin-left: 250px;
    column-count: 3;
    column-rule-style: solid;
}

.col-1 p img {
    float: left;
    width: 128px;
    height: 128px;
}

.col-2 p img {
    float: left;
    width: 128px;
    height: 128px;
}

.col-3 p img {
    float: left;
    width: 128px;
    height: 128px;
}


