* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    background-color: #191718;
}

#sidebar ul {
    padding-left: 0;
}
    
#sidebar li {
    padding: 8px;
    display: block;
    border: 0.5px solid #5C5C5C;
    font-size: 24px;
}

#sidebar li:hover {
    background-color: gray;
}
#sidebar  li a {
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    margin-left: 7px;
}
    
.body-text {
    margin-left: 150px;
    font-size: 18px;
}

#top-image {
    align-items: center;
    height: 122px;
    width: 100%;
    left: 879px;
    top: 958px;
    border-radius: 0px;
    margin: 34px 0;
}

#top-image img {
    margin-left: 45%;
    position: absolute;
    width: 310px;
    height: 122px;
}
#content {
    background-color:#EFEFEF;
    margin-left: 250px;
    margin-right: 100px;    
    padding: 38px 0;
}

#content .section-heading {
    color: #000;
    text-align: center;
    padding-bottom: 18px;
}

#content .about-text {
    text-align: center;
    padding: 0 269px;
    font-size: 16px;
    line-height: 19px;
    text-indent: 30px;
}


.columns {
    margin-top: 35px;
    margin-left: 121px;
    padding: 0 129px;
    column-count: 3;
    
}

.col {
    list-style-type: none;
    padding-right: 50px;
}

.col h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
}

.col p {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}


.col p img {
    float: left;
    width: 128px;
    height: 128px;
    padding-right: 16px;
    padding-bottom: 6px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: white;
    bottom: 0;
    border-top: 1px solid #DEDEDE;
    margin-top: 182px;
}

.footer div {
    padding: 30px 0 30px 250px;
    text-align: left;
}

